<h1 id="tw-target-text" class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" style="text-align: center;" data-placeholder="Translation"><strong>રસીદ</strong></h1>
<p id="tw-target-text" class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" data-placeholder="Translation">
    <strong><span lang="gu">રસીદ નંબર: <%= template.receiptNumber %> (<%= template.paymentMethod %>)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" data-placeholder="Translation">
    <strong><span lang="gu">Date: <%= template.generatedOn %></span></strong></p>
<hr />
<p class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" data-placeholder="Translation">શ્રી ઔદિચ્ય​ આચાર્ય બ્રહ્મ સમાજ ધ્વારા સંચાલીત 
    શ્રી જીવન સહાય યોજના ધ્વારા શ્રી <%= template.payerMemberName %> તરફથી રૂપીઆ<br /><%= template.amount %>, <%= template.payeeMemberName %> 
    ના મૃત્યુ પેટે સ્વીકારવામા આવલે છે.</p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" data-placeholder="Translation">&nbsp;</p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" data-placeholder="Translation">-----------------------------</p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" dir="ltr" data-placeholder="Translation">શ્રી ઔદિચ્ય​ આચાર્ય બ્રહ્મ સમાજ</p>

<style>
    body{
        padding: 10px;
    }
</style>